<% layout("/layouts/boilerplate.ejs") -%>
<div class="row">
    <p class="mt-1 mb-1 fw-bold" style="font-size: 8rem; color: rgb(75, 67, 67);">OOPS!</p>
    <P class=" mb-2" style="font-size: 1.5rem;">We can't seem to find the page you're looking for.</P>
</div>

<div class="row">
    <h4>Error Code : <%= statusCode %></h3>
    <h6><%= message %></h6>
</div>


